@{
    Layout = "_LayoutShortUrl";
    ViewData["Title"] = "ShortUrl";
}

<div class="input-group mb-3">
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="inputUrl" placeholder="Input url here!">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" id="btnSubmit" onclick="generateCode()">Submit</button>
    </div>
</div>

<div class="text-center">
    <span class="text-center" id="outputUrl"></span>
    <button type="button" class="btn btn-outline-success invisible" id="btnCopy" onclick="copyUrl()">Copy</button>
</div>

@section Scripts {
    <script>
        function generateCode() {
            let url = window.location.href + 'api/url';

            var request = new XMLHttpRequest();
            request.open('POST', url, true);
            request.setRequestHeader('Content-type', 'application/json');
            request.onload = function () {
                console.log(this.status);
                if (request.status >= 200 && request.status < 400) {
                    console.log(this.responseText);
                    showResult(this.responseText);
                } else {
                    console.log('error');
                }
            };

            let params = document.getElementById('inputUrl').value;
            request.send(JSON.stringify({ Url: params }));
        }
        
        function showResult(result) {
            let dom = document.getElementById('outputUrl');
            let url = window.location.href + result;
            let message = '<a href="' + url + '">' + url + '</a>';
            dom.innerHTML = message;
            showCopy();
        }

        function showCopy() {
            let btnCopy = document.getElementById('btnCopy');
            if (btnCopy.classList.contains('invisible')) {
                btnCopy.classList.toggle("invisible");
            }
        }

        var dom = document.getElementsByClassName('container')[0];
        dom.addEventListener('keypress', (e) => {
            if (e.which == 13) {
                generateCode()
            }
        });

        function copyUrl() {
            let url = document.getElementById('outputUrl');
            let textArea = document.createElement("textarea");
            textArea.value = url.textContent;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            textArea.remove();
        }
    </script>
}