@{
    Layout = "_LayoutShortUrl";
    ViewData["Title"] = "ShortUrl";
}

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Url</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="inputUrl" placeholder="Input url here!">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" id="btnSubmit" onclick="generateCode()">Submit</button>
    </div>
</div>

<p class="text-center" id="outputUrl"></p>

@section Scripts {
    <script>
        //var XMLHttpRequest = require("xmlhttprequest").XMLHttpRequest;
        var url = '../api/url';

        function generateCode() {
            var request = new XMLHttpRequest();
            request.open('POST', url, true);
            request.setRequestHeader('Content-type', 'application/json');
            request.onload = function () {
                console.log(this.status);
                if (request.status >= 200 && request.status < 400) {
                    console.log(this.responseText);
                    showResult(this.responseText);
                } else {
                    console.log('error');
                }
            };

            let params = document.getElementById('inputUrl').value;
            request.send(JSON.stringify({ Url: params }));
        }

        function showResult(result) {
            let dom = document.getElementById('outputUrl');
            let message = '<a href="../' + result + '">' + result + '</a>';
            dom.innerHTML = message;
        }
    </script>
}