html, body {
    height: 100%;
}

body {
    display: flex;
}

.container {
    margin: auto;
}

.bg {
    /* The image used */
    background-image: url('https://loremflickr.com/1280/720/roadtrip');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}